{%  for media in resource.getMedia %}
    <div class="gallery-box">
        {% set imgUrl = media.url %}
        <a href="{{ imgUrl }}" rel="gallery-{{ resource.id }}" title="{{ media.name }}" class="fancybox">
            <img src="{{ imgUrl | imagine_filter('image_small_jpg') }}" />
        </a>
    </div>
{% endfor %}
<div class="gallery-clearfix"></div>
